<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="EmployeeDataFilePath" value="C:\\Users\\Lenovo\\Desktop\\EmployeeInfo.json" />
		<add key="EmployeeStartID" value= "100" />

		<add key="Department_1" value="HR" />
		<add key="Department_2" value="Sales" />
		<add key="Department_3" value="Marketing" />
		<add key="Department_4" value="Finance" />
		<add key="Department_5" value="IT" />

		<add key="HR_1" value="HR Manager" />
		<add key="HR_2" value="HR Assistant" />
		<add key="HR_3" value="HR Coordinator" />
		<add key="HR_4" value="HR Inter" />

		<add key="Sales_1" value="Sales Manager" />
		<add key="Sales_2" value="Sales Engineer" />
		<add key="Sales_3" value="Sales Representative" />
		<add key="Sales_4" value="Sales Consultant" />
		<add key="Sales_5" value="Sales Associate" />

		<add key="Marketing_1" value="Chief Marketing Officer" />
		<add key="Marketing_2" value="Marketing Analyst" />
		<add key="Marketing_3" value="Marketing Coordinator" />
		<add key="Marketing_4" value="Marketing Manager" />
		<add key="Marketing_5" value="Marketing Specialist" />

		<add key="Finance_1" value="Auditor" />
		<add key="Finance_2" value="Financial Analyst" />
		<add key="Finance_3" value="Finance Manager" />
		<add key="Finance_4" value="Finance Clerk" />

		<add key="IT_1" value="Systems Analyst" />
		<add key="IT_2" value="Software Developer" />
		<add key="IT_3" value="Database Administrator" />
		<add key="IT_4" value="Cloud Architect" />
		<add key="IT_5" value="Software Engineer" />

	</appSettings>
	
</configuration>